@model List<ContactInfo>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<br />
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Deneyim ID</th>
            <th>DeneyimBaşlık</th>
            <th>Firma</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    @foreach(var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.Mail</td>                
               <td>
                    <a asp-action="DeleteContactInfo" asp-route-id="@item.ContactInfoID" class="btn btn-outline-danger"><i class="fas fa-trash"></i>Sil</a>
                </td>
                <td>
                    <a asp-action="UpdateContactInfo" asp-route-id="@item.ContactInfoID" class="btn btn-outline-success"><i class="fas fa-pen"></i>Güncelle</a>
               </td>


            </tr>
        }
    </table>
    <a asp-action="CreateContactInfo" class="btn btn-outline-info"><i class="fas fa-plus-circle"></i>Yeni Deneyim Ekle</a>

</div>