@model List<Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<br />
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>DeneyimBaşlık</th>
            <th>Firma</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    @foreach(var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Title</td>
                <td>@item.Company</td>
                <td>@item.Time</td>
               <td>
                    <a asp-action="DeleteExperience" asp-route-id="@item.ExperienceID" class="btn btn-outline-danger"><i class="fas fa-trash"></i>Sil</a>
                </td>
                <td>
                    <a asp-action="UpdateExperience" asp-route-id="@item.ExperienceID" class="btn btn-outline-success"><i class="fas fa-pen"></i>Güncelle</a>
               </td>


            </tr>
        }
    </table>
    <a asp-action="CreateExperience" class="btn btn-outline-info"><i class="fas fa-plus-circle"></i>Yeni Deneyim Ekle</a>

</div>